<template>
  <router-link :to="to" class="mx-4 p-3 bg-black text-gray-200 rounded-md hover:bg-gray-200 hover:text-gray-800 font-bold flex items-center">
    <slot></slot>
  </router-link>
</template>

<script>
export default {
  name: "NavBarButton",
  props: {
    to: String,
    text: String
  }
}
</script>