<template>
  <div class="w-full bg-black py-5 px-4 flex">
    <div class="flex">
      <NavBarButton to="/">Home</NavBarButton>
      <NavBarButton to="/about">About</NavBarButton>
      <NavBarButton to="/counter">Counter</NavBarButton>
    </div>
    <div v-if="!!user" class="flex flex-grow justify-end">
      <div class="flex flex-col relative">
        <NavBarButton to="#" @click="toggleUserDropDown">
          <div class="flex items-center">
            <span class="mr-4"> {{ user.displayName }}</span>
            <img
              v-if="!!user.photoURL"
              :src="user.photoURL"
              class="w-8 h-8 rounded-full"
            />
            <svg
              v-else
              class="h-8 w-8"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
        </NavBarButton>
        <div
          v-if="userDropDownOpen"
          class="bg-white absolute top-full right-0 mx-4 mt-2 rounded-md shadow-lg w-48 flex flex-col text-right font-semibold border-2 divide-y"
        >
          <router-link to="/profile" class="px-4 py-2">
            <div @click="toggleUserDropDown" class="flex justify-end">
              <span class="mr-4">Profile</span>
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </div>
          </router-link>
          <router-link @click="logout" to="" class="px-4 py-2">
            <div class="flex justify-end">
              <span class="mr-4">Log out</span>
              <svg
                class="w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                />
              </svg>
            </div>
          </router-link>
        </div>
      </div>
    </div>
    <div v-else class="flex flex-grow justify-end">
      <NavBarButton to="/login">
        <span class="mr-4">Login</span>
        <svg
          class="h-8 w-8"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </NavBarButton>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import { auth } from "../firebase";
import NavBarButton from "@/components/NavBarButton.vue";

export default {
  name: "NavBar",
  components: {
    NavBarButton,
  },
  setup() {
    const user = ref(null);
    const userDropDownOpen = ref(false);
    return {
      user,
      userDropDownOpen,
    };
  },
  created() {
    auth.onAuthStateChanged((user) => {
      if (user) {
        this.user = user;
      } else {
        this.user = null;
      }
    });
  },
  methods: {
    toggleUserDropDown() {
      this.userDropDownOpen = !this.userDropDownOpen;
    },
    logout() {
      auth.signOut();
    },
  },
};
</script>