<template>
  <div class="w-full mx-auto items-center flex flex-1">
    <div class="w-1/2 max-w-md mx-auto flex bg-white pt-8 px-8 rounded-xl shadow-md">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "SingleCard"
}
</script>