<template>
  <SingleCard>About page</SingleCard>
</template>

<script>
import SingleCard from "@/components/SingleCard.vue"
export default {
  name: "About",
  components: {
    SingleCard
  }
}
</script>