<template>
  <SingleCard>
    <div class="text-3xl mb-6">Count</div>
    <div class="flex">
      <button class="px-4 focus:outline-none" @click="decreaseCounter">
        <svg class="h-6 w-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </button>
      <div>{{ counter }}</div>
      <button class="px-4 focus:outline-none" @click="increaseCounter">
        <svg class="h-6 w-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </button>
    </div>
  </SingleCard>
</template>

<script>
import useCounter from '@/composition/useCounter'
import SingleCard from "@/components/SingleCard.vue"
export default {
  name: "Counter",
  components: {
    SingleCard
  },
  setup() {
    const { 
      counter, 
      increaseCounter, 
      decreaseCounter 
    } = useCounter()

    return {
      counter, 
      increaseCounter, 
      decreaseCounter
    }
  }
}
</script>