<template>
  <div
    class="flex flex-col flex-grow bg-landing bg-cover bg-no-repeat bg-bottom-neg-5 bg-black text-5xl text-white font-bold text-center pt-16 font-display"
  >
    <div class="bg-black">My Tracker TV</div>
  </div>
</template>

<script>
import { auth } from "../firebase";
import useCounter from "@/composition/useCounter";

export default {
  name: "Home",
  setup() {
    const { counter } = useCounter();
    return { counter };
  },
  methods: {
    getCurrentUser() {
      console.log(auth.currentUser);
    },
  },
};
</script>