<template>
  <SingleCard>
    <form class="w-full" @submit.prevent>
      <div
        class="border border-t-0 border-r-0 border-l-0 border-gray-200 font-bold text-3xl pb-5 mb-5"
      >
        {{ signUp ? "Sign Up" : "Login" }}
      </div>
      <div v-if="!!signUp" class="flex flex-col my-3">
        <div class="flex">
          <div class="w-1/2 mr-2">
            <label class="font-bold">First Name: </label>
            <input
              class="w-full p-1 border border-gray-200 rounded"
              type="text"
              v-model.trim="firstName"
            />
          </div>
          <div class="w-1/2 ml-2">
            <label class="font-bold">Last Name: </label>
            <input
              class="w-full p-1 border border-gray-200 rounded"
              type="text"
              v-model.trim="lastName"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-col my-3">
        <label class="font-bold">Email: </label>
        <input
          class="p-1 border border-gray-200 rounded"
          type="email"
          v-model.trim="email"
        />
      </div>

      <div class="flex flex-col my-3">
        <label class="font-bold">Password: </label>
        <input
          class="p-1 border border-gray-200 rounded"
          type="password"
          v-model="password"
        />
      </div>

      <div v-if="!!signUp" class="flex flex-col my-3">
        <label class="font-bold">Confirm Password: </label>
        <div class="relative flex flex-col">
          <input
            class="p-1 border border-gray-200 rounded"
            type="password"
            v-model="confirmPassword"
          />
          <span
            v-if="password || confirmPassword"
            class="absolute right-0 inset-y-0 flex items-center"
          >
            <svg
              v-if="passwordsMatch"
              class="w-6 h-6 text-green-700"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <svg
              v-else
              class="w-6 h-6 text-red-700"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </span>
        </div>
      </div>

      <div class="flex justify-between text-xs">
        <div class="text-left">
          <a @click="forgotPassword" href="#"> Forgot password? </a>
        </div>
        <div class="text-right">
          <a @click="toggleSignup" href="#">
            {{
              signUp ? "Log in to an existing account" : "Create new account"
            }}
          </a>
        </div>
      </div>

      <div class="flex my-6">
        <button
          class="py-2 px-4 mx-auto rounded-lg bg-blue-500 text-gray-100 hover:bg-blue-700 focus:outline-none"
          type="submit"
          @click="submit"
        >
          Submit
        </button>
      </div>

      <div
        v-if="!!successMessage"
        class="py-1 px-2 flex my-3 bg-green-100 text-green-900 rounded-md items-center"
      >
        <p class="pl-4 w-full text-center">{{ successMessage }}</p>
        <span class="cursor-pointer hover:text-green-700" @click="clearMessage">
          <svg
            class="h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </span>
      </div>

      <div
        v-if="!!errorMessage"
        class="py-1 px-2 flex my-3 bg-red-100 text-red-900 rounded-md items-center"
      >
        <p class="pl-4 w-full text-center">{{ errorMessage }}</p>
        <span class="cursor-pointer hover:text-red-700" @click="clearMessage">
          <svg
            class="h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </span>
      </div>

      <div
        class="flex flex-col pt-6 mt-3 mb-6 border border-b-0 border-r-0 border-l-0 border-gray-200"
      >
        <p class="font-bold">Sign in with</p>
        <button
          @click="signInWithGoogle"
          class="flex items-center justify-center w-1/2 py-1 px-2 mx-auto rounded-md border border-gray-200 hover:bg-gray-100"
        >
          <img
            class="h-4 w-4 mr-4"
            alt="Google"
            title="Sign in with Google"
            src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
          />
          <span>Google</span>
        </button>
      </div>
    </form>
  </SingleCard>
</template>

<script>
import { ref } from "vue";
import firebase from "firebase/app";
import "firebase/auth";

import { auth, usersCollection } from "../firebase";
import SingleCard from "@/components/SingleCard.vue";

export default {
  name: "Login",
  components: {
    SingleCard,
  },
  setup() {
    const firstName = ref("");
    const lastName = ref("");
    const email = ref("");
    const password = ref("");
    const confirmPassword = ref("");
    const errorMessage = ref("");
    const successMessage = ref("");
    const signUp = ref(false);
    return {
      firstName,
      lastName,
      email,
      password,
      confirmPassword,
      errorMessage,
      successMessage,
      signUp,
    };
  },
  computed: {
    passwordsMatch() {
      return this.password == this.confirmPassword;
    },
  },
  methods: {
    toggleSignup() {
      this.signUp = !this.signUp;
    },
    submit() {
      if (!this.signUp) {
        this.login();
      } else {
        this.createUser();
      }
    },
    createUser() {
      if (this.password != this.confirmPassword) {
        this.errorMessage = "Passwords do not match.";
        return;
      }
      auth
        .createUserWithEmailAndPassword(this.email, this.password)
        .then((result) => {
          let user = result.user;
          let displayName = `${this.firstName} ${this.lastName}`;
          usersCollection.doc(user.uid).set({
            firstName: this.firstName,
            lastName: this.lastName,
            displayName: displayName,
          });
          user
            .updateProfile({
              displayName: displayName,
            })
            .then(() => {
              this.$router.push("/profile");
            });
        });
    },
    login() {
      this.clearMessage();
      auth
        .signInWithEmailAndPassword(this.email, this.password)
        .then(() => {
          this.syncUser();
        })
        .catch((err) => {
          switch (err.code) {
            case "auth/invalid-email":
              this.errorMessage = "Invalid email address!";
              break;
            case "auth/user-disabled":
              this.errorMessage = "User not found!";
              break;
            case "auth/user-not-found":
              this.errorMessage = "User not found!";
              break;
            case "auth/wrong-password":
              this.errorMessage = "Incorrect password!";
              break;
            default:
              console.log(err);
              this.errorMessage = "Unknown error, please try again later.";
          }
        });
    },
    forgotPassword() {
      auth
        .sendPasswordResetEmail(this.email)
        .then(() => {
          this.successMessage = "Password reset email sent.";
        })
        .catch((err) => {
          switch (err.code) {
            case "auth/invalid-email":
              this.error = "Invalid email address!";
              break;
            case "auth/user-not-found":
              this.error = "No user was found with that email address.";
              break;
            default:
              console.log(err);
              this.error = "Unknown error, please try again later.";
          }
        });
    },
    signInWithGoogle() {
      var provider = new firebase.auth.GoogleAuthProvider();
      auth
        .signInWithPopup(provider)
        .then((result) => {
          let user = result.user;
          usersCollection
            .doc(user.uid)
            .get()
            .then((doc) => {
              if (doc.exists) {
                console.log(doc.data());
              } else {
                let names = user.displayName.split(/[ ,]+/);
                let firstName = names[0];
                let lastName = names[names.length - 1];
                usersCollection.doc(user.uid).set({
                  firstName: firstName,
                  lastName: lastName,
                  displayName: user.displayName,
                });
              }
            });
          this.$router.push("/profile");
          /** @type {firebase.auth.OAuthCredential} */
          // var credential = result.credential;

          // This gives you a Google Access Token. You can use it to access the Google API.
          // var token = credential.accessToken;
          // The signed-in user info.
          // var user = result.user;
          // ...
        })
        .catch((error) => {
          console.log(error);
          // Handle Errors here.
          // var errorCode = error.code;
          // var errorMessage = error.message;
          // The email of the user's account used.
          // var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          // var credential = error.credential;
          // ...
        });
    },
    clearMessage() {
      this.errorMessage = "";
      this.successMessage = "";
    },
  },
};
</script>