<template>
  <SingleCard>Page not found!</SingleCard>
</template>

<script>
import SingleCard from "@/components/SingleCard.vue"
export default {
  name: "Page Not Found",
  components: {
    SingleCard
  }
}
</script>