<template>
  <SingleCard>Profile</SingleCard>
</template>

<script>
import SingleCard from "@/components/SingleCard.vue";
import { auth } from "../firebase";
export default {
  name: "Profile",
  components: {
    SingleCard,
  },
  created() {
    console.log(auth.currentUser);
  },
};
</script>